<!-- templates/portfolio_app/certificates.html -->
{% extends 'portfolio_app/base.html' %}

{% block content %}
<section>
    <h1>Certificates</h1>

    <h2>Academic Certificates</h2>
    <div>
        {% for certificate in academic_certificates %}
            <div class="certificate">
                <h3>{{ certificate.title }}</h3>
                <p>{{ certificate.description }}</p>
                <p>Issued by: {{ certificate.issued_by }}</p>
                <p>Date issued: {{ certificate.date_issued }}</p>
                {% if certificate.certificate_link %}
                    <a href="{{ certificate.certificate_link }}">View Certificate</a>
                {% endif %}
                {% if certificate.certificate_file %}
                    <a href="{{ certificate.certificate_file.url }}">Download Certificate File</a>
                {% endif %}
                {% if certificate.certificate_image %}
                    <img src="{{ certificate.certificate_image.url }}" alt="{{ certificate.title }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h2>Programming Certificates</h2>
    <div>
        {% for certificate in programming_certificates %}
            <div class="certificate">
                <h3>{{ certificate.title }}</h3>
                <p>{{ certificate.description }}</p>
                <p>Issued by: {{ certificate.issued_by }}</p>
                <p>Date issued: {{ certificate.date_issued }}</p>
                {% if certificate.certificate_link %}
                    <a href="{{ certificate.certificate_link }}">View Certificate</a>
                {% endif %}
                {% if certificate.certificate_file %}
                    <a href="{{ certificate.certificate_file.url }}">Download Certificate File</a>
                {% endif %}
                {% if certificate.certificate_image %}
                    <img src="{{ certificate.certificate_image.url }}" alt="{{ certificate.title }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
